/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Clicker+Script&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Italianno&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #1A1A1A;
  --primary: #2D033B;
  --required: #410256;
  --secondary: #810CA8;
  --accent: #C147E9;
  --accent-2: #E5B8F4;
  --dark: #1a1a1a;
  --black: #0a0a0a;
  --light: #fafafa;
  --grey: rgb(99, 99, 99);
  --transparent: rgba(255, 255, 255, 0);
  --border-radius: 20px;
  --d: 1500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 100%;
  --c1: rgb(65, 0, 74);
  --c2: rgb(133, 6, 213);
  --c3: rgba(177, 93, 228, 0.1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.content:hover::-webkit-scrollbar-thumb {
  background: var(--light-grey);
}


*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: none; */
}

html,
body {
  background: linear-gradient(120deg, var(--black), var(--dark));
  /* background: linear-gradient(140deg, var(--black), var(--dark), var(--primary), var(--required)); */
  font-size: 16px;
  font-family: "Noto Serif", serif;
  scroll-behavior: smooth;
  /* overflow: hidden; */
  line-height: 1.5;
  letter-spacing: 1.5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  background: url(/assets/img/bg.png) no-repeat center center;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  min-height: 100vh;
  width: 100%;
  /* margin: auto; */
  /* overflow: auto; */
  color: var(--light);
}

/* .row {
  display: flex;
  flex-direction: row;
  flex: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  position: relative;
} */

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.img-responsive {
  max-width: 100%;
  height: auto;
  min-height: 100px;
  min-width: 100px;
}

section {
  display: flex;
  /* flex-direction: row; */
  padding: 0 2rem;
  min-height: 100vh;
  /* display: block; */
  position: fixed;
  left: 250px;
  top: 0;
  right: 0;
  opacity: 1;
  text-align: justify;
  /* z-index: 0; */
}

.btn {
  padding: 0.7rem 1.5rem;
  color: var(--light);
  font-weight: 800;
  background: var(--secondary);
  letter-spacing: 3px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  box-shadow: inset 0px 0px 1em 0px var(--secondary), 0px 0px 1em 0px var(--secondary);

}

.btn:hover {
  padding: 0.7rem 1.5rem;
  /* filter: blur(50px);
  -webkit-filter: blur(50px); */
  color: var(--dark);
  background: var(--accent-2);
  box-shadow: inset 0px 0px 0.5em 0px var(--secondary), 0px 0px 0.5em 0px var(--secondary);
}

/* .btn::before,
.btn::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
} */

.glow-on-hover {
  outline: none;
  /* cursor: pointer; */
  position: relative;
  /* z-index: 0; */
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  /* perspective: 2rem; */
  /* cursor: pointer; */
  /* background: linear-gradient(0deg, #000, #272727); */
}

.glow-on-hover:after,
.glow-on-hover:before {
  content: '';
  /* pointer-events: none; */
  position: absolute;
  background: linear-gradient(45deg, var(--primary), var(--required), var(--secondary), var(--accent), var(--accent-2), var(--accent-2), var(--accent), var(--secondary), var(--required), var(--primary));
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: steam 20s linear infinite;
  -webkit-animation: steam 20s linear infinite;
  opacity: 0;
  border-radius: 50px;
}

/* .glow-on-hover:hover:before,
.glow-on-hover:hover:after{
  filter: blur(50px);
  -webkit-filter: blur(50px);
} */
.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  /* position: absolute; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.border-animate {
  display: flex;
  position: relative;
  max-width: calc(100% + 4px);
  max-height: calc(100% + 4px);
  border-radius: 50%;
  background: linear-gradient(0deg, #000, #272727);
}

.border-animate:before,
.border-animate:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--primary), var(--required), var(--secondary), var(--accent), var(--accent-2), var(--accent-2), var(--accent), var(--secondary), var(--required), var(--primary));
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
  -webkit-animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.border-animate:after {
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

aside .sidebar {
  width: 270px;
  height: 100%;
  background: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  order: 2;
  box-shadow: 0px 0px 1rem 0px var(--secondary);
  overflow: auto;
  /* top: 0; */
  left: 0;
  z-index: 1;
}

aside .sidebar .logo {
  align-items: center;
  position: absolute;
  padding: 0.5rem 1rem;
  top: 50px;
  font-size: 2rem;
  color: var(--light);
  text-transform: capitalize;
}

aside .sidebar .logo a {
  font-weight: 700;
  padding: 1rem;
  /* font-size: 2rem; */
  letter-spacing: 5px;
  text-decoration: none;
  color: var(--light);

}

aside .sidebar .logo a span {
  font-family: "Italianno", cursive;
  text-decoration: none;
}

aside .sidebar .logo a::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 30px;
  border-top: 5px solid var(--secondary);
  border-left: 5px solid var(--secondary);
  top: 0;
  left: 0;
}

aside .sidebar .logo a::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 30px;
  border-bottom: 5px solid var(--secondary);
  border-right: 5px solid var(--secondary);
  bottom: 0;
  right: 0;
}

aside .sidebar .nav {
  margin-top: 15px;
  position: absolute;
  position: absolute;
}

aside .sidebar .nav li {
  margin-bottom: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: var(--grey);
  /* justify-content: space-around; */
  /* border-bottom: 1px solid var(--grey); */
  /* flex-direction: row; */
}

aside .sidebar .nav li a {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  color: var(--grey);
  padding: 5px 15px;
}

aside .sidebar .nav li.active,
aside .sidebar .nav li a.active {
  color: var(--accent);
}

aside .sidebar .nav li a i {
  margin-right: 20px;
}

aside .sidebar .toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 40px;
  border: 1px solid var(--accent);
  background: var(--dark);
  position: fixed;
  left: 290px;
  top: 20px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: none;
}

aside .sidebar .toggler span {
  margin: 2px;
  height: 2px;
  width: 20px;
  background: var(--accent);
  display: inline-block;
  position: relative;
  border-radius: 2px;
  /* left: 0; */
  /* top: -6; */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

aside .sidebar .toggler span::before {
  content: "";
  height: 2px;
  width: 20px;
  background: var(--accent);
  display: inline-block;
  position: absolute;
  border-radius: 2px;
  left: 0;
  top: -6px;
}

aside .sidebar .toggler span::after {
  content: "";
  height: 2px;
  width: 20px;
  background: var(--accent);
  display: inline-block;
  position: absolute;
  border-radius: 2px;
  left: 0;
  top: 6px;
}


/* Home Section */

.home {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: row;
  min-height: 100vh;
}

.home .hero {
  padding: 0 2rem;
}

.home .intro {
  font-size: 2rem;
}

.home .intro span {
  font-family: "Italianno", cursive;
  font-size: 3rem;
  letter-spacing: 5px;
  color: var(--secondary);
}

.home .job {
  font-size: 2rem;
}

.typing {
  color: var(--secondary);
}

.hero p {
  margin: 1rem 0 3.5rem 0;
}

.item:nth-child(1) {
  order: 1;
  /* Mengatur urutan elemen pertama menjadi urutan kedua */
}

.order:nth-child(2) {
  order: 2;
  /* Mengatur urutan elemen kedua menjadi urutan pertama */
}

.home .home.img {
  text-align: center;
  align-items: center;
  position: relative;
  margin: 2rem;
  padding: 2rem;
}



/* End Home Section */



@media only screen and (max-width: 1000px) {
  /* aside .sidebar {
    width: 0%;
    padding: 0;
    clear: both;
  } */

  /* section {
    top: 0;
    left: 0;
  } */
}

@media only screen and (max-width: 768px) {
  /* section {
    left: 0;
  } */

  .container {
    background: none;
  }

  .border-animate {
    max-width: 400px;
    margin-top: 4rem;
  }

  .home.img {
    right: 1rem;
  }

  .home .hero {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem 0rem;
  }
}

@media only screen and (max-width: 528px) {
  body {
    font-size: 14px;
  }

  section {
    left: 0;
  }

  .container {
    flex-direction: column;
  }

  .border-animate {
    max-width: 200px;
    /* margin: 2rem; */
  }

  .home {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .home .hero {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem 0;
    text-align: center;
  }

  .home .hero .intro {
    font-size: 1.3rem;
  }

  .home .hero .intro span {
    font-size: 2rem;
  }

  .home .hero .job {
    font-size: 1.2rem;
  }

  .home .hero p {
    text-align: justify;
  }

  .item:nth-child(1) {
    order: 2;
  }

  .order:nth-child(2) {
    order: 1;
  }

  aside .sidebar {
    padding: 0;
    margin: 0;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: var(--dark);
    z-index: 1;
  }

  aside .sidebar .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    position: fixed;
    /* padding: 0; */
    margin: 0;
    left: 0;
    justify-content: space-around;
    z-index: 1;
    padding-left: 10px;

  }

  aside .sidebar .nav li {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    border-bottom: none;
  }


  aside .sidebar .nav li a {
    padding: 5px 7px;
    flex-direction: row;
    z-index: 1;
  }

  i.beranda,
  i.tentang {
    margin-left: 7px;
  }

  i.layanan {
    margin-left: 13px;
  }

  i.proyek,
  i.kontak {
    margin-left: 12px;
  }

  aside .sidebar .nav li a span {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    font-weight: 600;
    display: block;
  }

  aside .sidebar .logo {
    display: none;
  }

  #navbar {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
}